@import "tailwindcss";

@font-face {
  font-family: 'Nico Moji Local';
  src: url('/fonts/NicoMoji-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.force-nico-font {
  font-family: 'Nico Moji Local', sans-serif !important;
}

/* --- Custom Dark Dashboard Scrollbar --- */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #04070C;
}

::-webkit-scrollbar-thumb {
  background: #1F2937;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #374151;
}